* {
    // border: 1px solid red;
}

img {
    // border: 1px solid red;
}

body {

    input, button, textarea {
        border-radius: 8px;
        border: 2px solid #ccc;
        font: 400 16px 'Roboto', sans-serif;
    }

    font: 400 16px 'Roboto', sans-serif;
}
